/* 
.tabContainer {
  width: 300px;
  height: 100px;
  border: 3px gray solid;
  overflow: scroll;
}

.tabItem {
  background-color: #585858;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px gray solid;
  border-radius: 5px;
  margin: 2px 2px 0; 
}

.tabItem:hover {
  background-color: #afafaf;
}

.tabItem:focus{
  background-color: green;
  color: white;
}

.tabItemActive {
  padding: 10px 20px;
  border: 1px gray green;
  border-radius: 5px;
  margin: 2px 2px 0; 
  background-color: green;
  color: white;
} */